#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: all .15s ease-out;
  background: #fff; }

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem; }

#sidebar-wrapper .list-group {
  width: 15rem; }

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0; }

#page-content-wrapper {
  min-width: 100vw; }

.sidebar-heading {
  position: relative;
  padding-bottom: 50px; }

.sidebar-heading, .list-group, .git-chart {
  width: 100%; }

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0px;
  text-align: center;
  color: #5e72e4; }
  .logo > div span {
    font-size: .9rem;
    font-weight: 500; }
  .logo > div {
    font-size: .7rem; }

.profile-img {
  padding-right: 10px; }
  .profile-img > img {
    border: 2px solid #5e72e4;
    max-height: 65px;
    border-radius: 100%; }

.list-group-item {
  transition: all .2s linear;
  background: none;
  color: #5e72e4;
  font-weight: 500;
  border-right: 4px solid transparent !important; }

.list-group-item:hover {
  border-right: 4px solid #5e72e4 !important; }

.social {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0; }
  .social > a i {
    font-size: 1.5rem;
    color: #5e72e4;
    transition: all .2s linear; }
  .social > a i:hover {
    color: #b5bff3; }

.git-chart {
  position: relative;
  margin-top: 50px; }

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0; }
  #page-content-wrapper {
    min-width: 0;
    width: 100%; }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem; } }

body {
  overflow-x: hidden;
  font-weight: 300; }

a {
  transition: .2s all linear; }

a:hover {
  cursor: pointer;
  color: #b5bff3; }

.main-container {
  background: #e9ecef;
  height: 100vh; }
