
#skills-chart {
    width: 100%;
}

.skills-title {
    text-align: center;
    border-bottom: 2px solid #E9ECEF;
}

.home-chart {
    margin-top: 1.2rem;
}

.profile-img-home {
    max-width: 150px;
    border-radius: 50%;
    border: 2px solid $primary;
}

.home-card {
    text-align: center;
}

.card-text {
    text-align: left;
}

.ct2 {
    text-align: center;
}

// .home-btn {
//     margin-top: 20px;
// }