.navbar {
    border-bottom: 1px solid darken($bggray, 5%);
}

#skills-chart {
    width: 100%;
}

.skills-title {
    text-align: center;
    border-bottom: 2px solid $bggray;
}

.home-chart {
    margin-top: 1.2rem;
}

.profile-img-home {
    max-width: 150px;
    border-radius: 50%;
    border: 2px solid $primary;
}

.home-card {
    text-align: center;
}

.card {
    border: 1px solid darken($bggray, 5%);
}

.card-text {
    text-align: left;
}

.ct2 {
    text-align: center;
}

.card-title {
    color: $titlegray;
    margin: 1rem 0;
}