.top-profile {
    height: 580px;

}

.row-top {
    background-image: url('../img/bg7.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.profile-left {
    justify-content: space-evenly;
    font-size: 1.8rem;
    > a {
        color: $primary !important;
    }
}

.badge {
    line-height: 1.5 !important;
}

.profile-img img {
    position: absolute;
    left: 50%;
    max-width: 180px;
    transform: translate(-50%, -30%);
}

.middle {
    display: flex;
    justify-content: center;
    position: relative;
}

.mouse {
    width: 50px;
    height: 90px;
    border: 3px solid $gray-700;
    border-radius: 60px;
}

.mouse:before {
    content: "";
    width: 7px;
    height: 15px;
    position: absolute;
    top: 15px;
    background: $gray-700;
    left: 50%;
    transform: translate(-50%);
    border-radius: 60px;
    opacity: 1;
    animation: mouse 2s infinite;
}

@keyframes mouse {
    from {
        opacity: 1;
        top: 15px;
    }
    to {
        opacity: 0;
        top: 55px;
    }
}
