.n-card {
    border: 2px solid $gray-300;
}

.card-body {
    padding: 1rem 0 0 1rem;
}

.card-img-top {
    height: 26vw;
}

.card-cover {
    object-fit: cover;
}

.card-overlay {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background: $secondary;
    border: none;
    height: 0;
    width: 100%;
    transition: all .2s linear;
    overflow: hidden;
    padding: 0;
    margin: 0 !important;
    > .card-header {
        text-align: center;
        > a, i {
            font-size: 3rem;
            padding: 0 .5rem;
        }
        > i {
            color: $primary;
        }
        > i:hover {
            color: darken($link-color, 15%);
        }
    }
    > .card-body {
        text-align: center;
        padding: 1rem;
        overflow-y: auto;
        > .card-text {
            text-align: left;
            font-size: 1rem;
        }
    }
}

.card:hover .card-overlay {
    height: 100%;
    cursor: pointer;
}

.compensate-for-scrollbar {
    overflow: hidden;
}