@import '_variables';
@import '_sidebar.scss';
@import '_home.scss';

body {
    overflow-x: hidden;
    font-weight: 300;
}

a {
    transition: .2s all linear;
}

a:hover {
    cursor: pointer;
    color: lighten($primary, 20%);
}

.main-container {
    background: #e9ecef;
    height: 100vh;
}